:root {
  --primary-color: #b24242;
  --secondary-color: #fbe8e8;
  --tertiary-color: #ffffff;
  --background-color: #f9f9f9;
  --shadow-color: #cccccc;
}

* {
  font-size: 21px;
  font-weight: 900;
  color: var(--primary-color);
}

.App {
  background-color: var(--background-color);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.wrapper {
  padding: 0 40px;
  background-color: var(--tertiary-color);
  box-shadow: 0 0 8px -2px var(--shadow-color);
}

.loader {
  font-size: 10px;
  margin: 0 10px 0 0;
  text-indent: -9999em;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ffffff;
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #000000;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loading-state {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
}

.wrapper p {
  color: #000000;
  font-weight: normal;
  font-size: 12px;
}
